<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Broadcast App | Home</title>
  <link rel="stylesheet" href="../css/style.css">
  <style>
    
  </style>
</head>
<body>
  <header>
    <h1>Broadcast App</h1>
  </header>
  <main>
    <div class="video-box">
      <video controls autoplay playsinline id="local-video"></video>
    </div>

    <div class="button-box">
      <a href="#" onclick="connect()" class="button">Broadcast yourself</a>
    </div>
  </main>

  <script src="https://webrtchacks.github.io/adapter/adapter-latest.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>